<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="about" width="500"  >

<h1>Our Resume</h1>
    <h2>You can found all personal information in our personal sites:</h2>
<a href="https://noaschwartz.000webhostapp.com/">Noa's webSite</a>
<a href="https://lera-shtotland.000webhostapp.com">Lera's webSite</a>
    <h2>Assignment 2 link</h2>
<a href="https://landnpacman.000webhostapp.com/">L&N Pacman</a>
    <h1>Hard things:</h1>
    We didn't now the languages well enough to handle with the whole assignment in the given time (especially angular).
    everything took hours instead of minutes if the assignment was in other language
</div>
</body>
</html>