<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<div ng-controller="mainController as mainController">
    <h2 class="labelClass"> Best Sellers</h2>

    <div class="box-table" width="500"  >
    <table>
        <tr ng-repeat="popcar in mainController.popCars">
            <td>{{popcar.CarSeriesID}}</td>
            <td><button ng-click="open(popcar.CarSeriesID)">Show Details</button> </td>
           <!-- <td><button ng-show="mainController.userService.isLoggedIn" ng-click="mainController.addToCart(popcar.CarSeriesID)"><img src="pics/add-to-cart-dark.png" /></button> </td>-->


            <td><button ng-click="mainController.addToCart(popcar.CarSeriesID)" ng-hide="mainController.userService.notLoggedIn"><img src="pics/add-to-cart-dark.png" /></button> </td>
           <!-- <td><button ng-click="mainController.buyCar(popcar.CarSeriesID)">Buy</button> </td>-->


            <!--<td><button ng-click="storeCtrl.removeCart(product)">Remove Cart</button> </td>-->
        </tr>
    </table>
</div>

    <div modal="showModal" close="cancel()">
        <div class="modal-header">
            <h4>Car's Details</h4>
        </div>
        <div class="modal-body">
            <div>

                <table>
                    <thead>
                    <tr>
        <th>Category</th>
        <th>Menufacturer</th>
        <th>Year</th>
        <th>Color</th>
        <th>Price</th>
        <th>NumInStock</th>
    </tr>
    </thead>
    <tr ng-repeat="car in mainController.carDetails">
        <td>{{car.Category}}</td>
        <td>{{car.Manufacturer}}</td>
        <td>{{car.Year}}</td>
        <td>{{car.Color}}</td>
        <td>{{car.PriceNIS|currency: "NIS"}}</td>
        <td>{{car.NumInStock}}</td>

        <!--<td><button ng-click="storeCtrl.removeCart(product)">Remove Cart</button> </td>-->
    </tr>
    </table>
</div>
        </div>
    </div>

<!--<div ng-show="mainCtrl.userService.isLoggedIn">-->

    <div>


    <div class="box-table" ng-hide="mainController.userService.notLoggedIn" width="500" >
        <h2 class="labelClass"> new cars</h2>
        <table>
            <tr ng-repeat="newCar in mainController.newCars">
                <td>{{newCar.CarSeriesID}}</td>
               <!--<td><button ng-click="mainController.getCarDetails(newCar.CarSeriesID)">Show Details</button> </td>-->
              <td><button ng-click="open(newCar.CarSeriesID)">Show Details</button> </td>
                <td><button ng-click="mainController.addToCart(newCar.CarSeriesID)"><img src="pics/add-to-cart-dark.png" /></button> </td>
                <!-- <td><button ng-click="mainController.buyCar(popcar.CarSeriesID)">Buy</button> </td>-->


                <!--<td><button ng-click="storeCtrl.removeCart(product)">Remove Cart</button> </td>-->
            </tr>
        </table>
    </div>


        <div modal="showModal" close="cancel()">
            <div class="modal-header">
                <h4>Car's Details</h4>
            </div>
            <div class="modal-body">
                <div>

                    <table>
                        <thead>
                        <tr>
                            <th>Category</th>
                            <th>Menufacturer</th>
                            <th>Year</th>
                            <th>Color</th>
                            <th>Price</th>
                            <th>NumInStock</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="car in mainController.carDetails">
                            <td>{{car.Category}}</td>
                            <td>{{car.Manufacturer}}</td>
                            <td>{{car.Year}}</td>
                            <td>{{car.Color}}</td>
                            <td>{{car.PriceNIS|currency: "NIS"}}</td>
                            <td>{{car.NumInStock}}</td>
                        </tr>
                    </table>

                </div>
            </div>
            </div>
        </div>
    <!--<div class="box-table" width="500">

        <table>
            <thead>
            <tr>
                <th>Category</th>
                <th>Menufacturer</th>
                <th>Year</th>
                <th>Color</th>
                <th>Price</th>
                <th>NumInStock</th>
            </tr>
            </thead>
            <tr ng-repeat="car in mainController.carDetails">
                <td>{{car.Category}}</td>
                <td>{{car.Manufacturer}}</td>
                <td>{{car.Year}}</td>
                <td>{{car.Color}}</td>
                <td>{{car.PriceNIS|currency: "NIS"}}</td>
                <td>{{car.NumInStock}}</td>
            </tr>
        </table>

    </div>-->
</div>
</div>




