<head>
    <link id="outcss" rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"/>
    <link rel="stylesheet" type="text/css" href="styleReg.css"/>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<label class="labelClassLeft">Register Page</label>
<div ng-controller="registerController as regCtrl"><br> <br>
    <!--Country :
    <ul>
        <li ng-repeat="det in
            details"><a href="{{det.loc }}">{{det.loc }}</a>
        </li>
    </ul>-->
    <form name="regForm" ng-submit="regCtrl.register()" role="form" novalidate>
        <span class='button'> User Name:</span>
        <input type="text"
               name="Id"
               id="Id"
               ng-model="regCtrl.Id"
               class="form-control"
               placeholder="Your ID"
               ng-minlength="3"
               ng-maxlength="8"
               ng-pattern="/^[a-zA-Z]*$/"
               required>
          <span class="error-mes" ng-show="regForm.Id.$dirty && regForm.Id.$error.required" class="help-block">Field required</span>
        <span class="error-mes" ng-show="regForm.Id.$dirty && regForm.Id.$error.pattern" class="help-block">Username contains only characters</span>
        <span class="error-mes" ng-show="regForm.Id.$dirty && (regForm.Id.$error.minlength || regForm.Id.$error.maxlength)" class="help-block">User name must contain between 3 to 8 characters</span>
        <br>
        First Name :
        <input type="text"
               ng-required="true"
               name="FirstName"
               ng-model="regCtrl.FirstName"
               class="form-control"
               placeholder="Full Name">
        <span class="error-mes" ng-show="regForm.FirstName.$dirty && regForm.FirstName.$error.required" class="help-block">First name is required</span>
        <br>
        Last Name :
        <input type="text"
               ng-required="true"
               name="LastName"
               ng-model="regCtrl.LastName"
               class="form-control"
               placeholder="Full Name">
        <span class="error-mes" ng-show="regForm.LastName.$dirty && regForm.LastName.$error.required" class="help-block">Last name is required</span>
        <br>
        <span class='button'> Mail :</span>
        <input type="email"
               ng-required="true"
               name="Email"
               ng-model="regCtrl.Mail"
               class="form-control"
               placeholder="Your Email">
        <span class="error-mes" ng-show="regForm.Email.$dirty && regForm.Email.$error.email" class="help-block">Valid email is required</span>
        <span class="error-mes" ng-show="regForm.Email.$dirty && regForm.Email.$error.required" class="help-block">Email is required</span>
        <br>
        Password :
        <input type="password"
               ng-required="true"
               name="Password"
               placeholder="Your Password"
               ng-model="regCtrl.Password"
               ng-minlength="5"
               ng-maxlength="10"
               class="form-control"
               ng-pattern="/^(?=.*?[a-zA-Z])(?=.*?[0-9])[a-zA-Z0-9@#%$]{5,10}$/"
               >
        <span class="error-mes" ng-show="regForm.Password.$dirty && (regForm.Password.$error.minlength || regForm.Password.$error.maxlength)" class="help-block">Password must contain between 5 to 10 characters</span>
        <span class="error-mes" ng-show="regForm.Password.$dirty && regForm.Password.$error.required" class="help-block">Password is required</span>
        <span class="error-mes" ng-show="regForm.Password.$dirty && regForm.Password.$error.pattern" class="help-block">Password contains both characters and numbers</span>
        <br>
        Address :
        <input type="text"
               ng-required="true"
               name="Address"
               ng-model="regCtrl.Address"
               class="form-control"
               >
        <span class="error-mes" ng-show="regForm.Address.$dirty && regForm.Address.$error.required" class="help-block">Address is required</span>
        <br>
        Country :
        <select ng-model="regCtrl.country"
                ng-options="x.Name for x in regCtrl.countries"
                ng-required="true"

        >
            {{x.Name}}
        </select>
        <br>
        Q1 :
        <input type="text"
               ng-required="true"
               name="Q1"
               ng-model="regCtrl.Q1"
               class="form-control"
               >
        <span class="error-mes" ng-show="regForm.Q1.$dirty && regForm.Q1.$error.required" class="help-block">Q1 is required</span>
        <br>
        Q1 Ans :
        <input type="text"
               ng-required="true"
               name="Ans1"
               ng-model="regCtrl.Ans1"
               class="form-control"
        >
        <br>
        Q2 :
        <input type="text"
               ng-required="true"
               name="Q2"
               ng-model="regCtrl.Q2"
               class="form-control">
        <span class="error-mes" ng-show="regForm.Q2.$dirty && regForm.Q2.$error.required" class="help-block">Q2 is required</span>
        <br>
        Ans2 :
        <input type="text"
               ng-required="true"
               name="Ans2"
               ng-model="regCtrl.Ans2"
               class="form-control">
        <span class="error-mes" ng-show="regForm.Ans2.$dirty && regForm.Ans2.$error.required" class="help-block">Ans2 is required</span>
        <br>
        Telephone :
        <input type="text"
               ng-required="true"
               name="Telephone"
               ng-model="regCtrl.Telephone"
               class="form-control"
               ng-pattern="/^[0-9]{1,7}$/">
        <span class="error-mes" ng-show="regForm.Telephone.$dirty && regForm.Telephone.$error.required" class="help-block">Telephone is required</span>
        <span class="error-mes" ng-show="regForm.Telephone.$dirty && regForm.Telephone.$error.pattern" class="help-block">Telephone contains only numbers</span>
        <br>
        CreditCardNumber :
        <input type="text"
               ng-required="true"
               name="CreditCardNumber"
               ng-model="regCtrl.CreditCardNumber"
               class="form-control"
               ng-pattern="/^[0-9]{1,7}$/">
        <span class="error-mes" ng-show="regForm.CreditCardNumber.$dirty && regForm.CreditCardNumber.$error.required" class="help-block">CreditCardNumber is required</span>
        <span class="error-mes" ng-show="regForm.CreditCardNumber.$dirty && regForm.CreditCardNumber.$error.pattern" class="help-block">CreditCardNumber contains only numbers</span>
        <br>
        <label class="labelLogin"> Select Categories: </label><br>
        <select multiple ng-model="selectedVslues" >
            <option value="Mini">Mini</option>
            <option value="Private">Private</option>multiple ng-model="selectedValues
            <option value="SUV">SUV</option>
            <option value="Sport">Sport</option>
            <option value="Truck">Truck</option>
        </select>
        <br>
        <button type="submit" ng-disabled="regForm.$invalid" class="btn btn-primary">Register</button>
    </form>
</div>
